.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f6f0e5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(5, 66, 86, 0.6);
}

.image-section {
  flex: 1;
  text-align: center;
}

.girl-image {
  width: 100%;  
  max-width: 350px;
  height: auto;
  margin-bottom: 20px;
}

.content-section {
  flex: 1 1;
  text-align: center;
  margin-top: 20px;
  display: flex
;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 28px;
  margin-bottom: 10px;
}

.light-bold {
  font-weight: 600;
}

.strong-bold {
  font-weight: 800;
  color: #000;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.contact-button,
.details-button {
  background-color: #f6f0e5;
  color: black;
  padding: 10px 20px;
  border: 1px solid black;
  border-bottom: 4px solid black;
  border-radius: 12px;
  font-weight: 600;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  padding: 8px 16px;
  font-size: 14px;
  display: flex
  ;
  align-items: center;
  justify-content: center;
  max-width: 18rem;

}

.contact-button:hover,
.details-button:hover {
  background-color: #e0d6c9;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.88);
  transform: scale(1.05);
}

.whatsapp-icon-green {
  width: 30px;
  height: 30px;
  margin-left: 6px;
}

.arrow-icon {
  margin-left: 10px;
  font-size: 16px;
  color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 15px;
  }

  .title {
    font-size: 24px;
  }

  .description {
    font-size: 14px;
  }

  .button-group {
    flex-direction: column;
    gap: 15px;
  }

  .contact-button, .details-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .girl-image {
    width: 100%;
  }

  .title {
    font-size: 20px;
  }

  .description {
    font-size: 12px;
  }

  .contact-button, .details-button {
    padding: 6px 12px;
    font-size: 12px;
    
  }
}

